.container {
    background-color: rgb(27, 27, 27);
    text-align: center;
    color: white;
    opacity: 0.97;
    position: relative;
    -webkit-box-shadow: -2px 1px 16px 10px rgb(104, 7, 7);
    -moz-box-shadow: -2px 1px 16px 10px rgb(104, 7, 7);
    box-shadow: -2px 1px 16px 10px rgb(104, 7, 7);
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    width: 400px;
    margin-top: 400px;
    border-radius: 5px;
    padding: 30px;
    height: fit-content;
  }

.container > h3 {
    font-size: 18px;
    margin-top: 10px !important;
    font-weight: 400;
    margin-bottom: 40px;
}

.container > input {
    width: 90%;
    height: 45px;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.container > button {
    width: 140px;
    margin-top: 30px;
    background-color: rgb(116, 11, 11);
    color: white;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
}

.container > button:hover {
    background-color: red;
}


@media (max-width: 460px) {
    .container {
        width: 320px;
    }
    .container > input {
        width: 100%;
    }
}