.successContainer {
        background-color: rgb(27, 27, 27);
        text-align: center;
        color: white;
        opacity: 0.97;
        position: relative;
        -webkit-box-shadow: -2px 1px 16px 10px rgb(104, 7, 7);
        -moz-box-shadow: -2px 1px 16px 10px rgb(104, 7, 7);
        box-shadow: -2px 1px 16px 10px rgb(104, 7, 7);
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-50%);
        width: 400px;
        margin-top: 400px;
        border-radius: 5px;
        padding: 30px;
        height: fit-content;
}

.doneIcon {
    font-size: 60px !important;
    color: lawngreen;
}

@media (max-width: 460px) {
    .successContainer {
        width: 350px;
}
}