.chat {
    height: 430px;
    background-color: rgb(19, 19, 19);
    width: 350px;
    display: flex;
    opacity: 0.95;
    -webkit-box-shadow: 5px 5px 15px 5px #222222; 
    box-shadow: 5px 5px 15px 5px #2c2c2c;
    border-radius: 10px;
    z-index: 500;
    position: fixed;
    flex-direction: column;
    bottom: 30px;
    right: 20px;
}

.chatScreen::-webkit-scrollbar {
    display: none;
}

.mymsg  {
    background-color:rgb(185, 0, 0);
    color: rgb(255, 255, 255);
    width: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    word-break: break-all;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.chatIcon {
    color: rgb(223, 0, 0) !important;
    font-size: 55px !important;
    cursor: pointer;
    z-index:500;
    bottom: 30px;
    right: 50px;
    position: fixed;
}

.mymsg > h3 {
    font-weight: 400;
}

.mymsg > .chatUsername >h5 {
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.chat > .chatScreen {
    height: 350px;
    padding: 10px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 19, 19);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow-y: scroll;
}

.chatCloseIcon {
    float: right; 
    font-size: 25px;
    margin-top: 3px;
    cursor: pointer;
    margin-bottom: 3px;
    color: rgb(201, 0, 0);
}

.enterMsg > .enterMsgForm{
    height: fit-content;
    padding: 3px;
    display: flex;
}

.othermsg  {
    background-color:rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    width: fit-content;
    line-break: strict;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    word-break: break-all;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.othermsg > .chatUsername > h5 {
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.othermsg > h3 {
    font-weight: 400;
}

.enterMsg > .enterMsgForm >input {
    width: 100%;
    color: white;
    border-radius: 5px;
    border-top: 1px darkgray solid;
    padding: 10px;
    height: 40px;
    background-color: rgb(19, 19, 19);
    font-size: 15px;
    outline: none;
    border: none;
}

.enterMsg > .enterMsgForm > button {
    border: none;
    background-color: rgb(90, 11, 11);
    color: white;
    width: 90px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    height: 40px;
    font-size: 17px;
}

.enterMsg > .enterMsgForm > button:hover {
    background-color: red;
}


@media(max-width: 460px) {
    .chatIcon {
        color: rgb(223, 0, 0) !important;
        font-size: 45px !important;
        cursor: pointer;
        z-index:500;
        bottom: 30px;
        right: 30px;
        position: fixed;
    }

    .chat {
        height: 380px;
        background-color: rgb(19, 19, 19);
        width: 280px;
        display: flex;
        opacity: 0.95;
        -webkit-box-shadow: 5px 5px 15px 5px #222222; 
        box-shadow: 5px 5px 15px 5px #2c2c2c;
        border-radius: 10px;
        z-index: 500;
        position: fixed;
        flex-direction: column;
        bottom: 30px;
        right: 20px;
    }
}